body{
    margin:0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1% 15% 0 15%;
    align-items: center;
    color: #F9FAf8;
    margin-bottom: 0;
}

.header img{
    width: auto;
    height: 30px;
}

ul{
    list-style-type: none;
    display: flex;
    gap:20px
}

.hero,
.card-list {
    display: flex;
    justify-content: space-around;
    gap:20px;
    padding: 4% 15%;
    font-family: Roboto, Georgia, 'Times New Roman', serif;
}

.hero img{
    width: 400px;

}

.hero,
.header,
.footer{
    background-color: #1F2937;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero h1{
    margin: 0;
    color: #f9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button{
    background-color: #3882F6;
    color: #f9FAF8;
    border-radius: 0.4em;
    border-style: hidden;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.first-content h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.card{
    width: 200px;
    height: auto;
    text-align: center;
}

.card img{
    width: auto;
    height: 200px;
    max-width: 200px;
    object-fit: contain;
    border-radius: 25%;

}

.card-list{
    flex-flow: row wrap;
}


.quote-section{
    background-color: #E5E7EB;
}

.quote-section,
.cta-section{
    padding: 4% 15%;
}

.quote{
    font-style: italic;
    font-weight: 300;
    flex-basis: 100%;
    font-size: 36px;
}

.by-line{
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    font-size: 18px;
}

.cta-object{
    background-color: #3882F6;
    padding:20px 40px;
    border-radius: 10px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
    gap:10px;
}

.cta-info > p:first-child{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}

.cta-info > p:last-child{
    margin-top: 5px;
}

.cta-object > button{
    border: 2px solid #F9FAF8;
}

.footer{
    color:#E5E7EB;
    text-align: center;
    padding: 20px 0;
}
